{% extends "program_builder/base.html" %}
{% block meta_description %}Exercice{% endblock %}
{% block title %}Fitperf - Page Exercice{% endblock %}
{% block content %}
{% load static %}
<main class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">{{ exercise_dict.name }}</h1>
        <p class="lead">{{ exercise_dict.description }}</p>
        <hr class="my-4">
        <!-- Button trigger modal for exercise composition -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exerciseStartModal">
            Démarrer un Entrainement
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% include 'messages.html' %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ exercise_dict.goal_type|upper }} : {{ exercise_dict.goal_value }}</h5>
                </div>
                <div class="card-body">
                    {% for movement in exercise_dict.movements %}
                        <div class="col-12 mb-4">
                            <div class="card">
                                <h5 class="card-header">{{movement.order}}. {{movement.name}}</h5>
                                <div class="card-body">
                                    {% for setting in movement.settings %}
                                        <h5 class="card-title">{{ setting.name }}: {{ setting.value }}</h5>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}            
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Form Modal - Modification Creation -->
<div class="modal fade" id="exerciseStartModal" tabindex="-1" role="dialog" aria-labelledby="exerciseStartModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exerciseStartModalLabel">Nouvel Entraînement : {{ exercise_dict.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>Prêt à se lancer?</p>
                <hr>
                <form action="" method="post" id="exerciseStartModalForm">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="exerciseId" class="col-2 col-form-label">PK</label>
                        <div class="col-10">
                            <input type="text" readonly class="form-control-plaintext" id="exerciseId" value="{{ exercise_dict.id }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="startDate" class="col-2 col-form-label">Date</label>
                        <div class="col-10">
                            <input type="startDate" readonly class="form-control-plaintext" id="exerciseId" value="{{ date }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Commencer</button>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}