{% extends "program_builder/base.html" %}
{% block meta_description %}Liste d'exercies{% endblock %}
{% block title %}Fitperf - Exercices{% endblock %}
{% block content %}
{% load static %}
<main class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Exercices</h1>
        <p class="lead">Retrouvez l'ensemble des exercices disponibles avec lesquels vous pouvez composez vos entraînements.</p>
        <hr class="my-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exerciseModalStep1">
            Nouvel Exercice
        </button>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">TOTAL</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle">{{ exercises_number }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">PERSO</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle">{{ custom_exercises_number }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">Nbr PB</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle">{{ pb_number }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% include 'messages.html' %}
            {% endif %}
        </div>
        <div class="col-12">
            <div class="row">
                {% for exercise in exercises %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-4 shadow">
                            <div class="card-header">
                                <div class="row justify-content-between">
                                    <div class="col">
                                        <h5 class="card-title">{{ exercise.name|upper }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ exercise.exerciseType }}</h6>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title text-right text-primary">PB</h5>
                                        <h6 class="card-subtitle mb-2 text-right text-primary">0</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ exercise.description|truncatechars:100 }}</p>
                            </div>
                            <div class="card-body bg-light">
                                <a href="{% url 'program_builder:exercise_page' exercise_pk=exercise.id %}" class="card-link">Détails</a>
                                {% if exercise.is_default == False %}
                                    <a href="{% url 'program_builder:delete_exercise' exercise_pk=exercise.id %}" class="card-link">Supprimer</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<!-- Form Modal Exercise Creation Step1 -->
<div class="modal fade" id="exerciseModalStep1" tabindex="-1" role="dialog" aria-labelledby="exerciseModalStep1Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalStep1Label">Nouvel Exercice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Etape 1</li>
                <li class="breadcrumb-item">Etape 2</li>
            </ol>
        </nav>
        <div class="modal-body">
            <form action="" method="" id="exerciseModalStep1Form">
                <div class="form-group">
                    {{ new_exercise_form.name.label }}
                    {{ new_exercise_form.name }}
                </div>
                <div class="form-group">
                    {{ new_exercise_form.exercise_type.label }}
                    {{ new_exercise_form.exercise_type }}
                </div>
                <div class="form-group">
                    {{ new_exercise_form.description.label }}
                    {{ new_exercise_form.description }}
                </div>
                <button type="submit" class="btn btn-block btn-primary">Suivant</button> 
            </form>
        </div>
    </div>
    </div>
</div>

<!-- Form Modal Exercise Creation Step2 -->
<div class="modal fade" id="exerciseModalStep2" tabindex="-1" role="dialog" aria-labelledby="exerciseModalStep2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exerciseModalStep2Label">Nouvel Exercice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Etape 1</li>
                <li class="breadcrumb-item active" aria-current="page">Etape 2</li>
            </ol>
        </nav>
        <div class="modal-body">
            <form action="" method="post" id="exerciseModalStep2Form">
                {% csrf_token %}
                {# The form is managed by the front #}
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}
{% block custom_js %}
<script src="{% static 'javascript/modal_prototype.js' %}"></script>
<script src="{% static 'javascript/exercise_prototype.js' %}"></script>
<script src="{% static 'javascript/exercise_creation.js' %}"></script>
{% endblock %} 