{% extends "program_builder/base.html" %}
{% block meta_description %}This is the Movement list{% endblock %}
{% block title %}Movements List{% endblock %}
{% block content %}
{% load static %}
<main class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Mouvements</h1>
        <p class="lead">Retrouvez l'ensemble des mouvements disponibles avec lesquels vous pouvez composez vos exercices.</p>
        <hr class="my-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#movementModalForm">
            Nouveau Mouvement
        </button>
    </div>
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% include 'messages.html' %}
            {% endif %}
        </div>
        {% for movement in movements %}
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ movement.name }}</h5>
                    <h6 class="card-subtitle">{{ movement.equipment }}</h6>
                </div>
                <a href="{% url 'program_builder:delete_movement' movement_pk=movement.pk %}" class="card-link pl-3 pb-2">Supprimer</a>
            </div>            
        </div>
        {% endfor %}
    </div>
</main>

    <!-- Form Modal -->
    <div class="modal fade" id="movementModalForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nouveau Mouvement</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ new_movement_form.name.label }}
                        {{ new_movement_form.name }}
                    </div>
                    <div class="form-group">
                        {{ new_movement_form.equipment.label }}
                        {{ new_movement_form.equipment }}
                    </div>
                    <div class="form-group">
                        {{ new_movement_form.founder.label }}
                        {{ new_movement_form.founder }}
                    </div>
                    <div class="form-group">
                        {{ new_movement_form.settings.label }}
                        {% for setting in new_movement_form.settings %}
                        <div class="form-check">
                            {{ setting.label }}
                            {{ setting }}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Enregistrer</button> 
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

<!-- Movement List -->
