{% extends "program_builder/base.html" %}
{% block meta_description %}Liste d'exercies{% endblock %}
{% block title %}Fitperf - Exercices{% endblock %}
{% block content %}
{% load static %}
<main class="container">
    <h1 class="display-4">Entraînements</h1>
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% include 'messages.html' %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card text-center mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">TOTAL</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle display-3">{{ trainings_number }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-center mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">TOTAL REALISE</h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle display-3">{{ trainings_done_number }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card text-center mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title">TOTAL <i class="fas fa-medal fa-lg"></i></h5>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle display-3">{{ pb_number }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <table class="table" id="trainings-table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Date</th>
                                <th scope="col">Exercice</th>
                                <th scope="col">Performance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for training in trainings %}
                                <tr>
                                    {% if training.performance_value and training.performance_value == training.exercise.pb %}
                                        <td class=""align-middle><i class="fas fa-medal"></i></td>
                                    {% else %}
                                    <td class=""align-middle></td>
                                    {% endif %}
                                    <td class="align-middle">{{ training.date }}</td>
                                    <td class="align-middle">{{ training.exercise.name|upper }}</td>
                                    {% if training.performance_value %}
                                        <td class="align-middle">{{ training.performance_value }}</td>
                                    {% else %}
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#performanceModal{{training.pk}}">
                                                +
                                            </button>
                                            <div class="modal fade" id="performanceModal{{training.pk}}" tabindex="-1" role="dialog" aria-labelledby="performanceModal{{training.pk}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exerciseStartModalLabel">Votre Performance: {{ training.exercise.name }} - {{ training.date }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="" method="post" id="performanceModal{{training.pk}}Form">
                                                            {% csrf_token %}
                                                            <input type="text" name="training_pk" value="{{ training.id }}" hidden>
                                                            <div class="input-group">
                                                                <input type="text" name="performance_value" class="form-control" placeholder="Votre score" aria-label="Votre score" aria-describedby="enregistrement du score">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" type="submit">Enregistrer</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}