env/
.sass-cache
fitperf/__pycache__/
fitperf/settings/__pycache__/
authentification/__pycache__/
authentification/tests/__pycache__/
authentification/migrations/__pycache__/
program_builder/__pycache__/
program_builder/management/__pycache__/
program_builder/management/commands/__pycache__/
program_builder/tests/__pycache__/
program_builder/migrations/__pycache__/
program_builder/utils/__pycache__/